{% extends 'base.html.twig' %}

{% block title %}New Program{% endblock %}

{% block body %}
    <h1>Create new Program</h1>

    {{ include('program/_form.html.twig') }}

    <a href="{{ path('program_index') }}" class=" text-success btn btn-warning m-5">back to list</a>
{% endblock %}
