{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <div class="logo-image">
                <img src="https://zupimages.net/up/20/22/4qij.png" class="img-fluid">
            </div>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Accueil<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wild/">Séries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/program/">Index des séries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/season/">Index des saisons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/episode/">Index des épisodes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/program/new">Ajouter une série</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wild/category/add/">Ajouter une catégorie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/actor/">Index des acteurs</a>
                </li>
            </ul>
        </div>
        {% if app.user %}
            {{ app.user.email }}
            <a href="{{ path('app_logout') }}"> Se déconnecter</a>
        {% else %}
            <a href="{{ path('app_login') }}"> Se connecter</a>
        {% endif %}
    </nav>


{% endblock %}